.dictaphone-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    margin-bottom: 20px;
}

.function-box.handwriting {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.function-box.upload-image {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.function-box.speech {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.function-box.latex-box {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.ggb-box {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.function-box {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.function-box h2 {
    margin-bottom: 10px;
}

.function-box button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

.function-box button:hover {
    background-color: #0056b3;
}

.latex-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background: linear-gradient(135deg, #bdb7ff, #a5f8e0);
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333;
    transition: transform 0.3s, box-shadow 0.3s;
}

.latex-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.left-section,
.right-section {
    flex: 1;
    padding: 0 20px;
}

#ggb-element {
    width: 100%;
    height: 700px;
}